@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --primary-color: #12766A;
}

body {
  font-family: 'Manrope', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.btn-primary {
    @apply bg-[#12766A] text-white text-[15px] font-manrope font-semibold 
      leading-[20.49px] tracking-[0] text-center 
      w-[332px] h-[48px] rounded-[24px] 
      hover:bg-[#20b2a0] transition-colors;
  }