@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --primary-color: #12766A;
}

body {
  font-family: 'Manrope', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.btn-primary {
    @apply bg-[#12766A] text-white text-[15px] font-manrope font-semibold 
      leading-[20.49px] tracking-[0] text-center 
      w-[332px] h-[48px] rounded-[24px] 
      hover:bg-[#20b2a0] transition-colors;
}

.btn-outline {
  @apply border-2 border-[#2dd4bf] text-[#2dd4bf] py-2.5 px-6 rounded-full font-medium hover:bg-[#2dd4bf] hover:text-white transition-colors;
}

.btn-primary2 {
  @apply bg-[#12766A] bg-opacity-10 text-[#12766A] text-[15px] font-manrope font-semibold 
    leading-[20.49px] tracking-[0] text-center 
    w-[332px] h-[48px] rounded-[24px] 
    hover:bg-[#55f0de] hover:bg-opacity-50 transition-colors;
}

.option-card {
  @apply border border-black min-w-[120px] max-w-[180px] h-[48px] rounded-[24px] text-[#12766A] text-[15px] py-3 px-6 text-center cursor-pointer transition-all flex items-center justify-center w-fit;
}

.option-card.selected {
  @apply bg-[#12766A1A] border-[2px] border-[#12766A];
}

.category-card {
  @apply border border-black min-w-[120px] max-w-[180px] h-[48px] rounded-[24px] text-[#12766A] text-[15px] py-3 px-6 text-center cursor-pointer transition-all flex items-center justify-center w-fit;
}


.category-card.selected {
  @apply bg-[#12766A1A] border-[2px] border-[#12766A];
}

.input-field {
  @apply w-full border-b-2 border-gray-300 py-2 px-1 focus:outline-none focus:border-[#2dd4bf];
}

.otp-input {
  @apply w-14 h-14 text-center text-2xl border-2 border-gray-300 rounded-md focus:outline-none focus:border-[#2dd4bf];
}

.phone-container {
  @apply relative;
}

.phone-container .clear-btn {
  @apply absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-400;
}

